@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

body {
    background: #f6f6f6;
    overflow: hidden;
}

.container {
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}

.wrapper {
    width: 100%;
    background: #fff;
    border-radius: 5px;
}

.wrapper .title {
    line-height: 80px;
    background: #FA5805;
    text-align: center;
    border-radius: 5px 5px 0 0;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}

.wrapper form {
    padding: 30px 25px 25px 25px;
}

.wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 16px;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    transition: all 0.3s ease;
}

form .row input:focus {
    border-color: #f6f6f6;
    box-shadow: inset 0px 0px 2px 2px rgba(87, 93, 251, 0.15);
}

.wrapper form .row i {
    position: absolute;
    width: 45px;
    height: 100%;
    font-size: 18px;
    color: white;
    background: #575DFB;
    border: 1px solid #575DFB;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .pass {
    margin: -8px 0 20px 0;
}

.wrapper form .pass a {
    font-size: 16px;
    color: #575DFB;
    text-decoration: none;
    list-style-type: none;
}

.wrapper form .pass a:hover {
    text-decoration: underline;
}


/*SING UP*/

.wrapper form .registro {
    margin: -8px 0 20px 0;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

.wrapper form .registro a {
    color: #575DFB;
    text-decoration: none;
}

.wrapper form .registro a:hover {
    text-decoration: underline;
}


.wrapper form .btn input {
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding-left: 0px;
    background: #575DFB;
    border: 1px solid #575DFB;
    cursor: pointer;
}

form .btn input:hover {
    background: #686cf5;
}

.d-flex button {
    margin: 1.5em 0.6em;
    padding: 0.5em 2.4em;
}

.d-flex table {
    margin: 1em 10em;
}

table .btnedit {
    cursor: pointer;
}

.jj:hover {
    box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 0.15);
}

.jj {
    justify-content: center;
}

.headd {
    background: #FA5805;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.table {
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    color: #f6f6f6;
}

.menu {
    text-decoration: none;
    list-style: none;
    margin: auto;
    padding: 0;

    width: 90%;
    max-width: 1000px;
    border-radius: 0px 0px 10px 10px;
}

.menu li a {
    display: block;
    color: black;
    padding: 20px;
    text-decoration: none;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    background: #FA5805;
    border-radius: 10px;
    -webkit-animation: alternate 1s ease-in-out infinite;
    color: #fff;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}